<!DOCTYPE html>
<body style="background:#000; color:white; display:flex; justify-content:center; align-items:center; height:100vh; font-family:sans-serif;">
    <form method="POST" style="text-align:center;">
        <h1 style="margin-bottom:20px; font-weight:bold;">David Admin</h1>
        <input type="password" name="password" placeholder="Mot de passe" style="padding:10px; border-radius:8px; border:none; text-align:center;">
        <br><br>
        <button style="padding:10px 30px; background:deeppink; color:white; border:none; border-radius:20px; font-weight:bold; cursor:pointer;">OK</button>
    </form>
</body>